.logo {
    height: 66px;
    margin-bottom: 16px;
  }
 

  .partner-header {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.partners-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
  gap: 30px;
  align-items: center;
  justify-content: center; 
  justify-items: center;  
}


.partner-card {
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.partner-card:hover {
  transform: translateY(-5px);
}

  
.partner-logo {
    width: 77px; 
    height: 77px; 
    object-fit: contain;
}

  
.partner-name {
    font-weight: bold;
    font-size: 1.5em;
    color: #eb6413;
    margin-top: 22px;
}

  
.partner-desc {
    font-size: 16px;
    color: #666;
    margin-top: 22px;
}

.partnershipCard {
    background-color: #fff;
    border-radius: 9px;
    border: none;
    position: relative;
    margin-bottom: 16px;
    cursor: pointer;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}

.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.partnershipIcon{
    font-size: 60px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 20px;
    margin-left: 9px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 16px;
    opacity: 0.1;
}